Repository LernFabrik/env: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pclBase/azure-pipelines.yml, .ci/ros/azure-pipelines.yml

.ci/pclBase/azure-pipelines.yml:

# Docker
# Build a Docker image 
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker
# Todo: docker image verification: https://github.com/PointCloudLibrary/pcl/blob/master/.ci/azure-pipelines/env.yml

trigger:
  branches:
    include:
      - master
  paths:
    include:
      - .ci/pclBase/azure-pipelines.yml
      - docker/pclBase/Dockerfile

pr:
  paths:
    include:
      - .ci/pclBase/azure-pipelines.yml
      - docker/pclBase/Dockerfile

resources:
- repo: self

variables:
  dockerHub: 'Docker Hub'
  dockerHubID: 'prachandabhanu'

jobs:
- job: BuildAndPush
  displayName: "Env"
  pool:
    vmImage: 'ubuntu-latest'
  strategy:
    matrix:
      Ubuntu 18.04:
        CUDA_VERSION: 10.2
        UBUNTU_DISTRO: 18.04
        USE_CUDA: false
        VTK_VERSION: 6
        tag: 18.04
      Ubuntu 20.4:
        CUDA_VERSION: 11
        UBUNTU_DISTRO: 20.04
        USE_CUDA: ""
        VTK_VERSION: 7
        tag: 20.04
  steps:
  - task: Docker@2
    displayName: "Build Docker Image"
    inputs:
      command: build
      arguments: |
        --no-cache
        --build-arg CUDA_VERSION=$(CUDA_VERSION)
        --build-arg UBUNTU_DISTRO=$(UBUNTU_DISTRO)
        --build-arg USE_CUDA=$(USE_CUDA)
        --build-arg VTK_VERSION=$(VTK_VERSION)
        -t $(dockerHubID)/env:$(tag)
      Dockerfile: '$(Build.SourcesDirectory)/docker/pclBase/Dockerfile'
      tags: "$(tag)"
  
  - task: Docker@2
    inputs:
      command: 'push'
      containerRegistry: $(dockerHub)
      repository: $(dockerHubID)/env
      tags: "$(tag)"

.ci/ros/azure-pipelines.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - .ci/ros/azure-pipelines.yml
      - docker/ros_preception/Dockerfile

pr:
  paths:
    include:
      - .ci/ros/azure-pipelines.yml
      - docker/ros_preception/Dockerfile

schedules:
- cron: "0 0 * * 0"
  displayName: "Sunday midnight build"
  branches:
    include:
    - main

resources:
- repo: self

variables:
  dockerHub: 'Docker Hub'
  dockerHubID: 'prachandabhanu'

jobs:
- job: BuildAndPush
  displayName: "Env"
  pool:
    vmImage: 'ubuntu-latest'
  strategy:
    matrix:
      Ubuntu 18.04:
        ROS_DISTRO: melodic
        tag: $(ROS_DISTRO)-perception
      Ubuntu 20.4:
        ROS_DISTRO: noetic
        tag: $(ROS_DISTRO)-perception
  steps:
  - task: Docker@2
    displayName: "Build Docker Image"
    inputs:
      command: build
      arguments: |
        --no-cache
        --build-arg ROS_DISTRO=$(ROS_DISTRO)
        -t $(dockerHubID)/env:$(tag)
      Dockerfile: '$(Build.SourcesDirectory)/docker/ros_perception/Dockerfile'
      tags: "$(tag)"
  
  - task: Docker@2
    inputs:
      command: 'push'
      containerRegistry: $(dockerHub)
      repository: $(dockerHubID)/env
      tags: "$(tag)"

Correcting typo
  .ci/ros/azure-pipelines.yml
  docker/ros_perception/Dockerfile
  docker/ros_perception/_test/Dockerfile.base
  docker/ros_perception/_test/docker-compose.yml
Due: .ci/ros/azure-pipelines.yml

Changed docker build for noetic
  README.md
  docker/ros_perception/Dockerfile
  docker/ros_perception/_test/Dockerfile.base
  docker/ros_perception/_test/docker-compose.yml
Due: none

Removed tmux
  docker/ros_perception/Dockerfile
Due: none

Remove wstool installation
  docker/ros_perception/Dockerfile
Due: none

added git install
  docker/pclBase/Dockerfile
Due: .ci/pclBase/azure-pipelines.yml
